@import 'tailwindcss';

@theme {
	--font-family-main: var(--main-font);
	--font-family-accent: var(--accent-font);

	--color-surface: #051230;
	--color-on-surface: #fceee7;
	--color-on-surface-darker: color-mix(
		in srgb,
		var(--color-on-surface) 10%,
		var(--color-surface)
	);
	--color-surface-bright: color-mix(in srgb, white 5%, var(--color-surface));
	--color-surface-brighter: color-mix(
		in srgb,
		white 15%,
		var(--color-surface)
	);

	--color-primary: #f5be41;
	--color-on-primary: #051230;

	--color-accent: #ff009d;
	--color-on-accent: #fceee7;

	--color-current: current;
}

html,
body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
