@import 'tailwindcss';

@theme {
	--font-family-main: var(--main-font);
	--font-family-accent: var(--accent-font);

	--color-bg: #051230;
	--color-main: #fceee7;
	--color-accent: #ff009d;
	--color-secondary: #f5be41;
	--shadow-login: inset 64px 4px 69px 0 #051230;
}

html,
body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
